.info{
    margin-bottom: 50px;
    &__title{
        font-size: 5rem;
        font-family: Montserrat;
        font-weight: 400;
        color: #fff;
    }
    &__slogan{
        font-family: Roboto;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 500;
    }

}
.layout{
    background: rgba(245, 240, 240, 0.284);
    backdrop-filter: saturate(180%) blur(10px);
    width: 100%;
    max-width: 70rem; 
    height: 90vh;
    max-height: 40rem;  
    overflow-y: auto;
    border-radius: 0.625rem; 
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;    


}
.login__container{
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: center;
    background: rgb(255, 255, 255);
    width: 98%;
    max-width: 70rem; 
    height: 85vh;
    max-height: 39rem;  
    border-radius: 0.625rem; 
}


.form{
    color: #444444;
    max-width: 276px;
    

    input[type=text],input[type=email], input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
      }
      
    input[type=text]:focus,input[type=email]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }
    .register-btn {
        background-color:#2DB1CE;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
        transition: all ease 0.8s;
        font-size: 18px;
       
    }
      
    .register-btn:hover {  
        background-color:#049cbd;  
        opacity: 1;
    }
    
    .signin  a {
        color: #2DB1CE;
    }
      
}

/* 
@media(max-width: 60rem){ /* 950px 
    height: 95vh;
    max-height: none;
} */